<%= form_with(model: @movie, url: movie.persisted? ? movie_path(@movie, sort: params[:sort], direction: params[:direction]) : movies_path(sort: sort, direction: direction)) do |form|%>
  <% if movie.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="text-align: center; border: 4px solid #ccc; padding: 10px; margin: 10px 10px; background-color: #f9f9f9; border-radius: 12px;">

    <div style="margin-bottom: 15px; text-align: center">
      <%= form.label :title, "Title", style: "display: block; font-weight: bold; margin-bottom: 5px; font-size: 2em;" %>
      <%= form.text_field :title, style: "width: 50%; padding: 8px; border: 2px solid #FF0000; border-radius: 4px; box-sizing: border-box;" %>
    </div>

    <div style="margin-bottom: 15px; text-align: center">
      <%= form.label :rating, style: "display: block", style: "display: block; font-weight: bold; margin-bottom: 5px; font-size: 2em;" %>
      <%= form.text_field :rating , style: "width: 50%; padding: 8px; border: 2px solid #FF0000; border-radius: 4px; box-sizing: border-box;"%>
    </div>

    <div style="margin-bottom: 15px; text-align: center">
      <%= form.label :description, style: "display: block", style: "display: block; font-weight: bold; margin-bottom: 5px; font-size: 2em;" %>
      <%= form.text_field :description, style: "width: 50%; padding: 8px; border: 2px solid #FF0000; border-radius: 4px; box-sizing: border-box;"%>
    </div>

    <div style="margin-bottom: 15px; text-align: center">
      <%= form.label :release_date, style: "display: block" , style: "display: block; font-weight: bold; margin-bottom: 5px; font-size: 2em;"%>
      <%= form.text_field :release_date, style: "width: 50%; padding: 8px; border: 2px solid #FF0000; border-radius: 4px; box-sizing: border-box;" %>
    </div>

    <div style="margin-bottom: 15px; text-align: center; font-size: 50px; color: #00FF00">
      <%= form.submit%>
    </div>

  </div>
<% end %>
