<div id="<%= dom_id movie %>" style="text-align: center; border: 4px solid #ccc; padding: 10px; margin: 10px 10px; background-color: #f9f9f9; border-radius: 12px;">
  <p style="font-size: 50px">
    <strong style="color: #FF0000;">Title:</strong>
    <%= movie.title %>
  </p>

  <p style="font-size: 30px;">
    <strong style="color: #0000FF;">Rating:</strong>
    <%= movie.rating %>
  </p>

  <p style="font-size: 20px;">
    <strong style="color: #008000;">Description:</strong>
    <%= movie.description %>
  </p>

  <p style="font-size: 20px;">
    <strong style="color: #007000;">Release date:</strong>
    <%= movie.release_date %>
  </p>

</div>
